# Load Data

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
cd /content/drive/My\ Drive/Data Science Bootcamp 2019 /Diabetes Readmissions Project/dataset_diabetes

/content/drive/My Drive/Data Science Bootcamp 2019 /Diabetes Readmissions Project/dataset_diabetes

In [0]:
ls

diabetic_data.csv  IDs_mapping.csv

In [0]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
filename= r'diabetic_data.csv'
train_data = pd.read_csv(filename)

In [0]:
train_data.head()

   encounter_id  patient_nbr             race  ... change diabetesMed readmitted
0       2278392      8222157        Caucasian  ...     No          No         NO
1        149190     55629189        Caucasian  ...     Ch         Yes        >30
2         64410     86047875  AfricanAmerican  ...     No         Yes         NO
3        500364     82442376        Caucasian  ...     Ch         Yes         NO
4         16680     42519267        Caucasian  ...     Ch         Yes         NO

[5 rows x 50 columns]

In [0]:
train_data.sample(100)

       encounter_id  patient_nbr             race  ... change diabetesMed readmitted
74541     221986008     94265091        Caucasian  ...     No         Yes         NO
75034     224411712     93293460        Caucasian  ...     No         Yes        <30
23452      80085810       421155        Caucasian  ...     No         Yes        >30
28823      94438518       937458        Caucasian  ...     No          No         NO
50760     152163900     59167503  AfricanAmerican  ...     Ch         Yes         NO
...             ...          ...              ...  ...    ...         ...        ...
38892     120968034     23574042        Caucasian  ...     Ch         Yes        >30
53506     156927606     99106191        Caucasian  ...     No          No         NO
49470     149747610     57951990  AfricanAmerican  ...     Ch         Yes         NO
8132       37326318     90457164  AfricanAmerican  ...     Ch         Yes        >30
54909     159235140     64922733        Caucasian  ...     No          No        >30

[100 rows x 50 columns]

In [0]:
train_data.describe()

       encounter_id   patient_nbr  ...  number_inpatient  number_diagnoses
count  1.017660e+05  1.017660e+05  ...     101766.000000     101766.000000
mean   1.652016e+08  5.433040e+07  ...          0.635566          7.422607
std    1.026403e+08  3.869636e+07  ...          1.262863          1.933600
min    1.252200e+04  1.350000e+02  ...          0.000000          1.000000
25%    8.496119e+07  2.341322e+07  ...          0.000000          6.000000
50%    1.523890e+08  4.550514e+07  ...          0.000000          8.000000
75%    2.302709e+08  8.754595e+07  ...          1.000000          9.000000
max    4.438672e+08  1.895026e+08  ...         21.000000         16.000000

[8 rows x 13 columns]

In [0]:
train_data.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [0]:
train_data.shape  # There are 101766 rows and 50 columns

(101766, 50)

In [0]:
cat_var=['']

In [0]:
num_var=['']

In [0]:
train_data[train_data['weight']=='?']

        encounter_id  patient_nbr  ... diabetesMed readmitted
0            2278392      8222157  ...          No         NO
1             149190     55629189  ...         Yes        >30
2              64410     86047875  ...         Yes         NO
3             500364     82442376  ...         Yes         NO
4              16680     42519267  ...         Yes         NO
...              ...          ...  ...         ...        ...
101761     443847548    100162476  ...         Yes        >30
101762     443847782     74694222  ...         Yes         NO
101763     443854148     41088789  ...         Yes         NO
101764     443857166     31693671  ...         Yes         NO
101765     443867222    175429310  ...          No         NO

[98569 rows x 50 columns]

## Load in the second data table

In [0]:
data_2= pd.read_csv('IDs_mapping.csv')

In [0]:
data_2.head()

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available

## Examine the predictor variable

In [0]:
train_data['readmitted'].value_counts()

NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64

Based on the value counts above. Here my question regarding how to treat the readmitted predictor since there are three categories

## What are the variables that pertain to rates/ payments/ bottom line?